Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

build(ignore): 忽略vuepress临时文件
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  .remarkignore
  .stylelintignore
Due: none

feat(themeconfig): 修改themeConfig
  docs/.vuepress/themeConfig.ts
Due: pnpm lint:js, pnpm lint:format

feat: 替换博客名和logo
  docs/.vuepress/config.ts
  docs/.vuepress/public/bg.jpg
  docs/.vuepress/public/favicon.ico
  docs/.vuepress/public/logo-p.svg
  docs/.vuepress/public/logo.png
  docs/.vuepress/public/logo.svg
  docs/.vuepress/public/memo.txt
  docs/.vuepress/themeConfig.ts
  docs/README.md
  docs/zh/README.md
  docs/zh/intro.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat: 增加导航,增加项目页,增加链接页
  .vscode/extensions.json
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/README.md
  docs/en/README.md
  docs/en/about.md
  docs/en/home.md
  docs/en/intro.md
  docs/en/links.md
  docs/en/projects.md
  docs/home.md
  docs/intro.md
  docs/links.md
  docs/projects.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix: 修复public静态资源位置
  docs/.vuepress/public/zhaobc.site/index.html
  docs/.vuepress/public/zhaobc.site/script.js
  docs/.vuepress/public/zhaobc.site/style.css
  docs/en/about.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(theme): 调整hero-text和hero的margin
  docs/.vuepress/styles/index.scss
  docs/.vuepress/styles/zhaobc.scss
  docs/README.md
  docs/en/README.md
Due: pnpm lint:md, pnpm lint:remark

feat: 自定义样式添加注释
  docs/.vuepress/styles/zhaobc.scss
Due: none

refactor: 调整目录结构
  docs/.vuepress/sidebar/en.ts
  docs/.vuepress/sidebar/zh.ts
  docs/en/guide/README.md
  docs/en/guide/disable.md
  docs/en/guide/encrypt.md
  docs/en/guide/markdown.md
  docs/en/guide/page.md
  docs/en/slides/demo.md
  docs/guide/README.md
  docs/guide/disable.md
  docs/guide/encrypt.md
  docs/guide/markdown.md
  docs/guide/page.md
  docs/slides/demo.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

refactor: 调整导航栏和侧边栏
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/.vuepress/sidebar/en.ts
  docs/.vuepress/sidebar/zh.ts
  docs/README.md
  docs/en/README.md
  docs/en/notes/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

build(vite): 添加pnpm.overrides暂时解决vite2.9引起的问题
  package.json
  pnpm-lock.yaml
Due: none

feat(footer): 定义footer搞定,以便计算页面最小高度
  docs/.vuepress/styles/palette.scss
  docs/.vuepress/styles/zhaobc.scss
Due: none

ci: 添加github actions部署
  .github/workflows/docs.yml
  .gitignore
  docs/.vuepress/config.ts
  docs/.vuepress/themeConfig.ts
Due: pnpm lint:js, pnpm lint:format

chore(deps): 升级依赖, 顺带改了一下评论框重叠问题
  docs/.vuepress/styles/zhaobc.scss
  package.json
  pnpm-lock.yaml
Due: none

ci: 添加coding pages
  .github/workflows/docs.yml
  docs/coding-pages.sh
Due: none

ci: 修复.sh权限问题
  .github/workflows/docs.yml
Due: none

ci: 修复拼写错误
  .github/workflows/docs.yml
Due: none

ci: 修复known_hosts不存在的问题
  docs/coding-pages.sh
Due: none

ci: 去掉~/.ssh/known_hosts
  docs/coding-pages.sh
Due: none

ci: 调整coding部署方式
  .github/workflows/docs.yml
  docs/coding-pages.sh
Due: none

ci: 去除coding pages
  .github/workflows/docs.yml
  docs/coding-pages.sh
Due: none

fix(style): 重构样式,修复评论框的余白问题
  docs/.vuepress/styles/config.scss
  docs/.vuepress/styles/zhaobc.scss
Due: none

feat: 增加docsearch和pwa
  .vscode/settings.json
  docs/.vuepress/plugin-config/docsearch.ts
  docs/.vuepress/plugin-config/index.ts
  docs/.vuepress/plugin-config/pwa.ts
  docs/.vuepress/public/assets/icon/apple-icon-152.png
  docs/.vuepress/public/assets/icon/chrome-192.png
  docs/.vuepress/public/assets/icon/chrome-512.png
  docs/.vuepress/public/assets/icon/chrome-mask-192.png
  docs/.vuepress/public/assets/icon/chrome-mask-512.png
  docs/.vuepress/public/assets/icon/config-maskable.png
  docs/.vuepress/public/assets/icon/config-monochrome.png
  docs/.vuepress/public/assets/icon/guide-maskable.png
  docs/.vuepress/public/assets/icon/guide-monochrome.png
  docs/.vuepress/public/assets/icon/ms-icon-144.png
  docs/.vuepress/themeConfig.ts
  docs/notes/README.md
  docs/notes/other/README.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(assets): 替换pwa logo图片
  docs/.vuepress/public/assets/icon/apple-icon-152.png
  docs/.vuepress/public/assets/icon/chrome-192.png
  docs/.vuepress/public/assets/icon/chrome-512.png
  docs/.vuepress/public/assets/icon/chrome-mask-192.png
  docs/.vuepress/public/assets/icon/chrome-mask-512.png
  docs/.vuepress/public/assets/icon/ms-icon-144.png
  docs/.vuepress/public/logo-white.psd
Due: none

refactor: 重构sidebar内容
  docs/.vuepress/sidebar/en.ts
  docs/.vuepress/sidebar/zh.ts
Due: pnpm lint:js, pnpm lint:format

refactor: 调整blog-info-wrapper跟navbar的距离
  docs/.vuepress/styles/zhaobc.scss
Due: none

refactor(sidebar): 设置index: true, 自动生成侧边栏的README首页
  docs/en/notes/README.md
  docs/en/notes/backend/README.md
  docs/en/notes/backend/java/README.md
  docs/en/notes/backend/spring/README.md
  docs/en/notes/frontend/README.md
  docs/en/notes/frontend/js/README.md
  docs/en/notes/frontend/js/bosn/README.md
  docs/en/notes/frontend/ts/README.md
  docs/en/notes/frontend/vue/README.md
  docs/en/notes/other/README.md
  docs/notes/README.md
  docs/notes/backend/README.md
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/other/README.md
  docs/posts/docker/command.md
Due: pnpm lint:md, pnpm lint:remark

feat(star): 设置star,在首页右侧显示文章列表
  docs/en/notes/README.md
  docs/notes/README.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(assets): 重做图片资源,调整大小以解决pwa图标大小错误
  docs/.vuepress/public/assets/icon/apple-icon-152.png
  docs/.vuepress/public/assets/icon/chrome-192.png
  docs/.vuepress/public/assets/icon/chrome-512.png
  docs/.vuepress/public/assets/icon/chrome-mask-192.png
  docs/.vuepress/public/assets/icon/chrome-mask-512.png
  docs/.vuepress/public/assets/icon/ms-icon-144.png
  docs/.vuepress/public/logo-white.psd
  docs/.vuepress/public/logo.svg
  public/assets/logo-787x787-white.psd
  public/assets/logo-787x787.psd
  public/assets/logo-787x787.svg
  public/assets/undraw/undraw_Programming_re_kg9v.png
  public/assets/undraw/undraw_advanced_customization_re_wo6h.svg
  public/assets/undraw/undraw_book_lover_re_rwjy.svg
  public/assets/undraw/undraw_my_code_snippets_re_4adu.svg
  public/assets/undraw/undraw_on_the_office_re_cxds.svg
  public/assets/undraw/undraw_programming_re_kg9v (1).svg
  public/assets/undraw/undraw_programming_re_kg9v.svg
Due: none

refactor: 调整zhaobc.site命名动画
  docs/.vuepress/public/zhaobc.site/style.css
Due: none

fix(sidebar): 设置index,以便在sidebar中显示出来
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter02.md
  docs/notes/frontend/js/bosn/chapter03.md
  docs/notes/frontend/js/bosn/chapter04.md
  docs/notes/frontend/js/bosn/chapter05.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

refactor(sidebar): 同步英文示例
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/en/notes/frontend/js/bosn/chapter02.md
  docs/en/notes/frontend/js/bosn/chapter03.md
  docs/en/notes/frontend/js/bosn/chapter04.md
  docs/en/notes/frontend/js/bosn/chapter05.md
  docs/en/posts/docker/command.md
  docs/en/posts/router/router-settings.md
  docs/posts/docker/command.md
  docs/posts/router/router-settings.md
Due: pnpm lint:md, pnpm lint:remark

docs(readme): 修改工程的README文档
  README.md
  README.zh-CN.md
  docs/.vuepress/styles/palette.scss
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 添加Vue.js设计与实现 1.1 和 1.2 笔记
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter02.md
Due: pnpm lint:md, pnpm lint:remark

docs: 修改README错误书写
  README.zh-CN.md
Due: pnpm lint:md, pnpm lint:remark

feat: algolia申请下来前，自己运行的algolia
  .github/workflows/algolia.yml
  docs/algolia-config-hope.json
Due: none

ci: 修改action错误[skip ci]
  .github/workflows/algolia.yml
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
