Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs(python): 增加 python-playground 变更日志
  docs/notes/backend/python/tutorial/README.md
  docs/posts/dev/python-playground.md
Due: pnpm lint:md, pnpm lint:remark

feat(theme): 允许 Playground 组件下载文件
  docs/.vuepress/theme/components/python/PythonPlayground.ts
Due: pnpm lint:js, pnpm lint:format

feat(theme): 替换导航栏 Playground 下拉菜单，增加部分笔记
  docs/.vuepress/client.ts
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/PlaygroundDropdown.ts
  docs/notes/other/office/excel-formulas.md
  docs/notes/other/tools/gradle.md
  docs/posts/dev/disable-jpa-change-event-handler.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(theme): 去掉多语言自动跳转
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

chore(deps): update deps
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  package.json
  patches/@vuepress__plugin-clarity-analytics@2.0.0-rc.121.patch
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore(deps): 升级依赖和主题
  package.json
  patches/@vuepress__plugin-clarity-analytics@2.0.0-rc.121.patch
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
