Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:format"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:format"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:format"],
  "*.md": ["pnpm lint:md", "pnpm lint:remark"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

docs(share): 添加分享功能
  docs/.vuepress/theme.ts
  vercel.json
Due: pnpm lint:js, pnpm lint:format

feat(docs): (WIP) 增加 Share 和 AddThis 分享功能
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/.gitkeep
  docs/.vuepress/theme/components/NormalPage.vue
  docs/.vuepress/theme/config.ts
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/layouts/.gitkeep
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

docs: 去除 addThis, 有时会影响 backToTop
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

docs(seo): 设置自己的 description
  docs/README.md
  docs/about.md
  docs/en/README.md
  docs/en/about.md
  docs/en/links.md
  docs/en/projects.md
  docs/links.md
  docs/projects.md
Due: pnpm lint:md, pnpm lint:remark

docs: 修复拼写错误
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 添加Python 官方教程 3.速览 笔记
  docs/notes/README.md
  docs/notes/backend/python/tutorial/3.introduction.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级 deps
  docs/.vuepress/theme/components/NormalPage.vue
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

style: 格式化
  docs/notes/backend/python/tutorial/3.introduction.md
Due: pnpm lint:md, pnpm lint:remark

feat(docs): 添加 clarity 统计
  .eslintignore
  .prettierignore
  docs/.vuepress/config.ts
  docs/.vuepress/public/assets/js/clarity.js
  public/robots.txt
Due: pnpm lint:js, pnpm lint:format

docs: 自定义主题，插件添加过期说明
  docs/posts/theme/customize-theme.md
  docs/posts/theme/playground-plugin-v2.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级 vth, 同时修改 slot 名
  docs/.vuepress/theme/components/NormalPage.vue
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

style: 格式化
  docs/posts/theme/playground-plugin-v2.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

chore: 升级 vtp
  package.json
  pnpm-lock.yaml
Due: none

docs(python): 添加 4.流程控制部分内容
  docs/notes/backend/python/tutorial/4.controlflow.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

docs(formatter): 修复formatter.isOriginal
  docs/posts/theme/echarts-plugin.md
  docs/posts/theme/playground-plugin-v2.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

ci(github): 增加NODE_OPTIONS参数
  .github/workflows/docs.yml
Due: none

docs: 添加waline和gitlab pages ip访问的笔记
  docs/notes/other/linux/gitlab-pages.md
  docs/posts/docker/deploy-waline.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级vth
  package.json
  pnpm-lock.yaml
Due: none

docs: 添加 Gitlab 贡献者插件
  docs/posts/theme/gitlab-contributors-plugin.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): update deps
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/index.ts
  docs/notes/other/linux/gitlab-pages.md
  docs/posts/theme/gitlab-contributors-plugin.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

refactor(links): add hover transition
  docs/.vuepress/styles/zhaobc.scss
Due: none

chore(linter): 更改commitlint配置
  .commitlintrc.cjs
Due: none

feat(articles): 自动生成文字列表
  docs/.vuepress/client.ts
  docs/.vuepress/theme/client.ts
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/.vuepress/theme/styles/auto-article-list.scss
  docs/posts/devops/README.md
  tsconfig.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(articles): 设置AutoArticleList的标题
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/posts/docker/README.md
  docs/posts/n1/README.md
  docs/posts/router/README.md
  docs/posts/theme/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(theme): 增加 AutoArticleListLayout 用于现在文章目录下的文字
  docs/.vuepress/client.ts
  docs/.vuepress/theme/client.ts
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/.vuepress/theme/styles/auto-article-list.scss
  docs/posts/devops/README.md
  docs/posts/docker/README.md
  docs/posts/n1/README.md
  docs/posts/router/README.md
  docs/posts/theme/README.md
  tsconfig.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(theme): AutoArticles 博客文章记录
  docs/.vuepress/client.ts
  docs/.vuepress/theme/client.ts
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/posts/theme/auto-articles.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(deps): 升级 vth 等依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): 升级 vth 和依赖
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore(deps): 升级 vth 和依赖
  package.json
  pnpm-lock.yaml
Due: none

docs(notes): 添加代码片段
  docs/notes/frontend/js/code-snippets/groupBy.md
  docs/notes/frontend/js/code-snippets/reduce.md
Due: pnpm lint:md, pnpm lint:remark

docs(notes): 添加 java 代码段
  docs/notes/backend/java/code-snippets/group-by.md
  docs/notes/backend/java/code-snippets/sort.md
  docs/notes/frontend/js/code-snippets/group-by.md
Due: pnpm lint:md, pnpm lint:remark

feat(presets): 开启特性闪光和图标跳到的预设
  docs/.vuepress/client.ts
Due: pnpm lint:js, pnpm lint:format

style: 格式化
  docs/notes/frontend/js/code-snippets/group-by.md
  docs/notes/frontend/js/code-snippets/reduce.md
Due: pnpm lint:md, pnpm lint:remark

feat(theme): 增加文章分栏功能
  docs/.vuepress/styles/column-layout.scss
  docs/.vuepress/styles/index.scss
  docs/.vuepress/theme.ts
  docs/posts/other/README.md
  docs/posts/other/columns-layout-demo.md
  docs/posts/theme/column-layout.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(deps): 升级vth和依赖
  package.json
  pnpm-lock.yaml
Due: none

feat(vitesse): 更新vitesse及其依赖，本次忽略eslint
  .eslintrc
  cypress.config.ts
  index.html
  locales/ja.yml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/TheFooter.vue
  src/components/TheInput.vue
  src/layouts/404.vue
  src/layouts/default.vue
  src/layouts/home.vue
  src/main.ts
  src/modules/i18n.ts
  src/pages/hi/[name].vue
  src/pages/index.vue
  src/stores/user.ts
  test/__snapshots__/component.test.ts.snap
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

ci(vitesse): 去掉nodejs-14
  .github/workflows/vitesse-ci.yml
Due: none
