Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:format"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:format"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:format"],
  "*.md": ["pnpm lint:md", "pnpm lint:remark"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

refactor(theme): 破坏性变动，适配vp45和vpth61
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): 升级 v63, 修改破坏性变更
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter03.md
  docs/notes/frontend/vue/vue3-book/chapter04.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:md, pnpm lint:remark

docs(md-enhance): 补充 echarts 插件说明
  docs/.vuepress/theme/customConfig.ts
  docs/posts/theme/echarts-plugin.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style: 格式化文档
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/suspense.md
  docs/notes/frontend/vue/vue3/built-ins/teleport.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
Due: pnpm lint:md, pnpm lint:remark

refactor(playground): 重构playground
  docs/.vuepress/theme/module/blog/components/icons/StickyIcon.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.1.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/other/README.md
  docs/posts/theme/playground-plugin.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

test: 更新测试结果[skip ci]
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
Due: none

chore(deps): 升级vpth
  package.json
  pnpm-lock.yaml
Due: none

chore: 升级依赖，添加 playground 文章
  docs/.vuepress/themeConfig.ts
  docs/posts/theme/customize-theme.md
  docs/posts/theme/playground-plugin-v2.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(md-enhance): 添加 playground 插件(WIP)
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/components/ECharts.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/ExternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/InternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/playground.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/assign.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/utils.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.2.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/shared/playground.ts
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/other/README.md
  docs/posts/theme/playground-plugin.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(playground): 修复编译错误
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/posts/theme/playground-plugin-v3.md
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(playground): 修复 playground 插件注册问题,以及 md 使用问题
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/other/README.md
  docs/posts/theme/playground-plugin-v3.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

refactor(playground): 重构 playground 插件,功能更强大
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/ECharts.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/ExternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/InternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/playground.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/assign.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/utils.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.2.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/shared/playground.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/other/README.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(playground): 使用异步组件加载内置模式
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
Due: pnpm lint:js, pnpm lint:format

docs(email): 使用域名邮箱
  docs/.vuepress/themeConfig.ts
  docs/about.md
  docs/en/about.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

ci(test): update ci [ci skip]
  .github/workflows/test.yml
  docs/.vuepress/plugin-config/index.ts
  docs/.vuepress/plugin-config/seo.ts
Due: pnpm lint:js, pnpm lint:format

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: none

feat(navbar): 添加笔记-其他菜单
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
Due: pnpm lint:js, pnpm lint:format

docs(vue3): 添加进阶主题
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/extra/composition-api.md
  docs/notes/frontend/vue/vue3/extra/render-and-jsx.md
Due: pnpm lint:md, pnpm lint:remark

feat(vitesse): 尝试 ref 语法糖
  src/components.d.ts
  src/components/CounterRefSugar.vue
  src/pages/hi/[name].vue
  src/stores/user.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

feat(playground): 内置 playground 默认开启 reactivityTransform
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/utils.ts
Due: pnpm lint:js, pnpm lint:format

docs(vue3): 添加 reactivity transform
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/extra/reactivity-transform.md
  docs/notes/frontend/vue/vue3/extra/render-and-jsx.md
Due: pnpm lint:md, pnpm lint:remark

test: update test snapshot
  test/__snapshots__/component.test.ts.snap
Due: none

feat(playground): 外置模式默认showOutput为true
  docs/.vuepress/theme/customConfig.ts
Due: pnpm lint:js, pnpm lint:format

feat: 添加百度统计脚本
  docs/.vuepress/config.ts
Due: pnpm lint:js, pnpm lint:format

docs(vue3): 增加动画技巧记录
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/extra/animation.md
  docs/notes/frontend/vue/vue3/extra/composition-api.md
  docs/notes/frontend/vue/vue3/extra/reactivity-transform.md
  docs/notes/frontend/vue/vue3/extra/render-and-jsx.md
Due: pnpm lint:md, pnpm lint:remark

docs(pinia): 增加 Pinia 记录
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/pinia/README.md
  docs/notes/frontend/vue/pinia/core-concepts/README.md
  docs/notes/frontend/vue/pinia/core-concepts/actions.md
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/getters.md
  docs/notes/frontend/vue/pinia/core-concepts/plugins.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
  docs/notes/frontend/vue/pinia/intro/get-started.md
  docs/notes/frontend/vue/vue3/extra/reactivity-transform.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(pinia): 补充 playground 示例
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
  docs/notes/frontend/vue/vue3/extra/animation.md
Due: pnpm lint:md, pnpm lint:remark

docs: 修复 playground 使用 element-plus 的配置
  docs/notes/other/README.md
Due: pnpm lint:md, pnpm lint:remark

docs(pinia): 增加 getters, actions, plugins(wip)
  docs/notes/frontend/vue/pinia/core-concepts/actions.md
  docs/notes/frontend/vue/pinia/core-concepts/getters.md
  docs/notes/frontend/vue/pinia/core-concepts/plugins.md
Due: pnpm lint:md, pnpm lint:remark

docs(pinia): 补全 plugins
  docs/notes/frontend/vue/pinia/core-concepts/plugins.md
Due: pnpm lint:md, pnpm lint:remark

chore(docs): use www domain
  README.md
  README.zh-CN.md
  docs/.vuepress/plugin-config/seo.ts
  docs/.vuepress/themeConfig.ts
  docs/about.md
  docs/en/about.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style(docs): 格式化
  docs/notes/frontend/vue/pinia/core-concepts/actions.md
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/getters.md
  docs/notes/frontend/vue/pinia/core-concepts/plugins.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
Due: pnpm lint:md, pnpm lint:remark

chore: enable CORS on Vercel
  vercel.json
Due: none

docs: add linux notes
  docs/notes/other/linux/README.md
  docs/notes/other/linux/certs.md
  docs/notes/other/linux/misc.md
Due: pnpm lint:md, pnpm lint:remark
