Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(theme): 增加 Playground 图标
  docs/.vuepress/client.ts
  docs/.vuepress/public/assets/icon/playground.svg
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/icons/LinkIcon.ts
  docs/.vuepress/theme/components/icons/PlaygroundIcon.ts
  docs/notes/frontend/js/code-snippets/reduce.md
  docs/notes/frontend/vue/vue3/basic/template-syntax.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/frontend/vue/vue3/reusability/plugins.md
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(theme): 增加 twoslash 插件
  docs/.vuepress/client.ts
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/twoslash/README.md
  docs/.vuepress/theme/components/twoslash/client.ts
  docs/.vuepress/theme/components/twoslash/index.ts
  docs/.vuepress/theme/components/twoslash/renderer-floating-vue.ts
  docs/.vuepress/theme/components/twoslash/style.css
  docs/.vuepress/theme/index.ts
  docs/notes/frontend/vue/pinia/README.md
  docs/notes/frontend/vue/pinia/core-concepts/README.md
  docs/notes/frontend/vue/pinia/intro/README.md
  docs/notes/frontend/vue/pinia/intro/get-started.md
  docs/notes/frontend/vue/pinia/intro/intro.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/posts/theme/twoslash.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

fix(theme): 修复 twoslash 打包错误
  docs/.vuepress/config.ts
Due: pnpm lint:js, pnpm lint:format

docs: 调整代码高亮样式
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/suspense.md
  docs/notes/frontend/vue/vue3/built-ins/teleport.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/extra/render-and-jsx.md
  docs/notes/frontend/vue/vue3/typescript/README.md
  docs/notes/frontend/vue/vue3/typescript/overview.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs(vue): 补充 vue typescript 内容
  docs/notes/frontend/vue/vue3/typescript/composition-api.md
  docs/notes/frontend/vue/vue3/typescript/overview.md
Due: pnpm lint:md, pnpm lint:remark

refactor(theme): 更改导航栏的演练场图标
  docs/.vuepress/config.ts
  docs/.vuepress/theme/components/icons/LinkIcon.ts
  docs/.vuepress/theme/components/icons/PlaygroundIcon.ts
Due: pnpm lint:js, pnpm lint:format

docs(ts): 抄写 TypeScript 类型章节内容
  .markdownlint.json
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/twoslash/style.css
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/ts/handbook/README.md
  docs/notes/frontend/ts/handbook/types.md
  docs/notes/frontend/vue/vue3/typescript/composition-api.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs: 添加文章
  docs/notes/frontend/ts/handbook/narrowing.md
  docs/posts/dev/README.md
  docs/posts/dev/docker-jitsi.md
Due: pnpm lint:md, pnpm lint:remark

build: 恢复 vitest, bundle-visualizer
  .gitignore
  docs/.vuepress/config.ts
  package.json
  pnpm-lock.yaml
  test/basic.test.ts
  vitest.config.ts
Due: pnpm lint:js, pnpm lint:format

docs(typescript): 补充 typescript 笔记
  docs/.vuepress/theme/components/twoslash/style.css
  docs/notes/frontend/ts/handbook/narrowing.md
  package.json
Due: pnpm lint:md, pnpm lint:remark

docs(ts): 补充笔记
  .vscode/settings.json
  docs/notes/frontend/ts/handbook/more_on_function.md
  docs/notes/other/linux/misc.md
Due: pnpm lint:md, pnpm lint:remark

docs(语文): 添加二年级语文上册第一课汉字
  docs/posts/edu/xiaoxue-yuwen-2-shang-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
Due: pnpm lint:md, pnpm lint:remark

refactor(zitie): 加深打印字帖时的颜色
  docs/.vuepress/theme/components/hanzi/Zitie.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/posts/edu/xiaoxue-yuwen-1-xia.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

refactor(hanzi): 调整移动端文字字帖组词布局
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/hanzi.scss
  eslint.config.js
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

build(eslint): 修改 eslint 配置
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  eslint.config.js
  package.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

docs(语文): 添加二年级上册第二课
  docs/posts/edu/xiaoxue-yuwen-2-shang-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
Due: pnpm lint:md, pnpm lint:remark

docs(语文): 二年级上第三课
  docs/posts/edu/chazi.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
  docs/posts/theme/echarts-plugin.md
  docs/posts/theme/playground-plugin-v3.md
Due: pnpm lint:md, pnpm lint:remark

docs(edu): 增加文章封面图片，同时用来生成OGP内容
  docs/.vuepress/public/assets/edu/chun.png
  docs/.vuepress/public/assets/edu/yuwen-1-xia-card.png
  docs/.vuepress/public/assets/edu/yuwen-1-xia-card.psd
  docs/.vuepress/public/assets/edu/yuwen-1-xia.png
  docs/.vuepress/public/assets/edu/yuwen-2-shang-card.png
  docs/.vuepress/public/assets/edu/yuwen-2-shang.png
  docs/posts/edu/chazi.md
  docs/posts/edu/xiaoxue-yuwen-1-xia-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-1-xia.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
Due: pnpm lint:md, pnpm lint:remark

docs: 增加主页的 og:image
  docs/.vuepress/public/logo-cover.svg
  docs/README.md
  docs/en/README.md
Due: pnpm lint:md, pnpm lint:remark

chore: 微调
  .vscode/launch.json
  docs/.vuepress/public/assets/hanzi/zi.svg
  docs/.vuepress/styles/zhaobc.scss
  docs/about.md
  docs/en/about.md
  docs/en/links.md
  docs/en/projects.md
  docs/links.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
  docs/projects.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级 vth 及依赖
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  docs/.vuepress/client.ts
  docs/.vuepress/config.ts
  docs/.vuepress/plugin-config/docsearch.ts
  docs/.vuepress/plugin-config/index.ts
  docs/.vuepress/plugin-config/linksCheck.ts
  docs/.vuepress/plugin-config/revealjs.ts
  docs/.vuepress/styles/column-layout.scss
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/HanziCard.vue
  docs/.vuepress/theme/components/hanzi/Zitie.vue
  docs/.vuepress/theme/components/icons/LinkIcon.ts
  docs/.vuepress/theme/components/twoslash/index.ts
  docs/.vuepress/theme/components/twoslash/renderer-floating-vue.ts
  docs/.vuepress/theme/components/twoslash/style.css
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/en/slides/demo.md
  docs/notes/frontend/ts/handbook/narrowing.md
  docs/slides/demo.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(git): 重命名 git 文件大小写
  docs/.vuepress/plugin-config/docSearch.ts
Due: pnpm lint:js, pnpm lint:format

docs: 添加 git 笔记片段
  docs/notes/other/dev/regex.md
  docs/notes/other/tools/git.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: none

docs(edu): 增加语文生字
  .vscode/settings.json
  docs/posts/edu/xiaoxue-yuwen-2-shang-2.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-kapian-2.md
  docs/posts/edu/xiaoxue-yuwen-2-shang.md
  pnpm-lock.yaml
Due: pnpm lint:md, pnpm lint:remark

docs(posts): 增加 oh-my-posh 自定义主题
  docs/posts/dev/oh-my-posh.md
  docs/posts/dev/oh-my-posh/oh-my-posh-1.png
  docs/posts/dev/oh-my-posh/oh-my-posh-2.png
  docs/posts/dev/oh-my-posh/zhaobc.omp.json
Due: pnpm lint:md, pnpm lint:remark

perf(hanzi): 改用 npmmirror 的 cnchar-data （感谢)
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/HanziCard.vue
  docs/.vuepress/theme/components/hanzi/Zitie.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/posts/edu/xiaoxue-yuwen-2-shang-kapian-2.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

fix(hanzi): 笔画多时调小显示笔顺
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/notes/other/demo/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(theme): 升级主题vth-rc.63
  .vscode/settings.json
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore: 开启 mindmap plantuml 插件
  docs/.vuepress/theme.ts
  docs/posts/theme/gitlab-contributors-plugin.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(hanzi): 补充部分汉字
  docs/.vuepress/styles/zhaobc.scss
  docs/notes/other/dev/regex.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-2.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-kapian-2.md
Due: pnpm lint:md, pnpm lint:remark

chore(theme): 升级主题 rc.66 开启专注模式
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

docs(hanzi): 补充语文二上字
  docs/posts/edu/xiaoxue-yuwen-2-shang-2.md
  docs/posts/edu/xiaoxue-yuwen-2-shang-kapian-2.md
Due: pnpm lint:md, pnpm lint:remark

docs(hanzi): 添加部分汉字
  .vscode/settings.json
  docs/posts/edu/xiaoxue-yuwen-2-shang-3.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级主题 v71
  .markdownlint.json
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/icons/LinkIcon.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm lint:js, pnpm lint:format

chore(shiki): 解消 shiki 关于 conf 的警告
  docs/.vuepress/theme.ts
  docs/notes/other/linux/gitlab-pages.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(posts): 增加 DeepSeek 使用体验
  docs/posts/dev/hello-deepseek.md
Due: pnpm lint:md, pnpm lint:remark

fix(flippy-card): 修复卡片遮挡问题
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
Due: none

feat(theme): 升级主题，使用内置 twoslash
  docs/.vuepress/client.ts
  docs/.vuepress/styles/palette.scss
  docs/.vuepress/theme.ts
  docs/notes/frontend/ts/handbook/more_on_function.md
  docs/notes/frontend/ts/handbook/narrowing.md
  docs/notes/frontend/ts/handbook/types.md
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/posts/dev/remove-git-commit-history.md
  docs/posts/theme/twoslash.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
