Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:format"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:format"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:format"],
  "*.md": ["pnpm lint:md", "pnpm lint:remark"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore(deps): 升级vth和依赖
  docs/.vuepress/styles/config.scss
  docs/.vuepress/styles/palette.scss
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme.ts
  docs/notes/backend/java/code-snippets/group-by.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(vitesse): remove transformerVariantGroup
  src/auto-imports.d.ts
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:format

feat(vitesse): sync vitesse
  .github/workflows/vitesse-ci.yml
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/main.ts
  src/pages/index.vue
  tsconfig.json
  uno.config.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

docs(vercel): 单独忽略文档 CI 示例
  docs/posts/devops/skip-ci-for-vercel.md
Due: pnpm lint:md, pnpm lint:remark

test(cypress): expose host for cypress test[skip docs-ci]
  package.json
Due: none

docs(ci): 修改 vercel 跳过 ci 的判断示例
  docs/posts/devops/skip-ci-for-vercel.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级 vth 和其他依赖
  cypress/e2e/basic.spec.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

fix(blog): 调整自定义文章列表样式
  docs/.vuepress/theme/styles/auto-article-list.scss
Due: none

chore(deps): 升级vth 和依赖
  netlify.toml
  package.json
  pnpm-lock.yaml
Due: none

test(e2e): 修改 timeout
  cypress/e2e/basic.spec.ts
Due: pnpm lint:js, pnpm lint:format

docs(vue3): 增加基础部分内容
  docs/notes/frontend/vue/vue3/basic/README.md
  docs/notes/frontend/vue/vue3/basic/reactivity-fundamentals.md
  docs/notes/frontend/vue/vue3/basic/template-syntax.md
Due: pnpm lint:md, pnpm lint:remark

docs: 调整目录的 README index
  docs/notes/backend/python/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/vue/pinia/README.md
  docs/notes/frontend/vue/pinia/core-concepts/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/reusability/README.md
  docs/notes/other/README.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级 vth 和依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): 升级vth 和依赖
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:format

style(docs): 格式化 md
  docs/notes/frontend/vue/vue3/basic/reactivity-fundamentals.md
  docs/notes/frontend/vue/vue3/basic/template-syntax.md
Due: pnpm lint:md, pnpm lint:remark

docs(playground): 改用新的 Playground Service
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
  docs/notes/other/demo/README.md
  docs/posts/theme/playground-plugin-v2.md
  docs/posts/theme/playground-plugin-v3.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

test(e2e): 同步 vitesse 修复 e2e 错误
  README.md
  README.zh-CN.md
  cypress/e2e/basic.spec.ts
  src/components/TheFooter.vue
  uno.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

ci: 同步 vitesse ci [skip docs-ci]
  .github/workflows/vitesse-ci.yml
Due: none

docs(python): 添加流程控制相关内容
  docs/notes/backend/python/tutorial/4.controlflow.md
Due: pnpm lint:md, pnpm lint:remark

docs: 增加电视推荐尺寸文章
  docs/posts/home/README.md
  docs/posts/home/tv.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 修改 replit 账号名
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/backend/python/python-100-days/day-01-15/04.循环结构.md
  docs/notes/backend/python/tutorial/3.introduction.md
  docs/notes/backend/python/tutorial/4.controlflow.md
Due: pnpm lint:md, pnpm lint:remark

docs: 添加笔记和文章
  docs/notes/other/tools/git.md
  docs/posts/theme/sandpack-plugin.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): 升级vitesse依赖
  .github/workflows/vitesse-ci.yml
  docs/.vuepress/public/qrcode-zhaobc.svg
  docs/.vuepress/public/qrcode-zhaobc2.svg
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format

style(docs): 格式化 md
  docs/notes/backend/python/tutorial/4.controlflow.md
  docs/posts/home/tv.md
  docs/posts/theme/sandpack-plugin.md
Due: pnpm lint:md, pnpm lint:remark

chore: upgrade vth
  .vscode/settings.json
  docs/.vuepress/client.ts
  docs/.vuepress/config.ts
  docs/.vuepress/plugin-config/pwa.ts
  docs/.vuepress/plugin-config/seo.ts
  docs/.vuepress/public/manifest.webmanifest
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm lint:js, pnpm lint:format

refactor: auto-catalog -> catalog
  .markdownlint.json
  docs/notes/backend/README.md
  docs/notes/backend/python/README.md
  docs/notes/backend/python/python-100-days/README.md
  docs/notes/backend/python/python-100-days/day-01-15/README.md
  docs/notes/backend/python/tutorial/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/vue/vue3/basic/README.md
  docs/notes/other/README.md
  docs/notes/other/linux/README.md
Due: pnpm lint:md, pnpm lint:remark

feat(docs): 增加 Hanzi 组件
  .markdownlint.json
  docs/.vuepress/client.ts
  docs/.vuepress/public/assets/hanzi/play.svg
  docs/.vuepress/public/assets/hanzi/voice.svg
  docs/.vuepress/public/assets/hanzi/write.svg
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/posts/edu/README.md
  docs/posts/edu/learn-hanzi.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

fix(print): 修复打印分页问题
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:md, pnpm lint:remark

refactor(vitesse): update vitesse
  .github/workflows/docs.yml
  .github/workflows/vitesse-ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/layouts/README.md
  src/pages/README.md
  src/pages/hi/[name].vue
  src/styles/markdown.css
  src/typed-router.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(deps): update deps and eslint config
  .eslintrc
  .markdownlint.json
  .stylelintrc.cjs
  docs/.vuepress/client.ts
  docs/.vuepress/config.ts
  docs/.vuepress/plugin-config/docsearch.ts
  docs/.vuepress/public/assets/js/clarity.js
  docs/.vuepress/public/zhaobc.site/index.html
  docs/.vuepress/public/zhaobc.site/script.js
  docs/.vuepress/styles/column-layout.scss
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/posts/theme/column-layout.md
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/main.ts
  src/modules/i18n.ts
  src/modules/nprogress.ts
  src/modules/pinia.ts
  src/modules/pwa.ts
  src/pages/hi/[name].vue
  src/shims.d.ts
  src/types.ts
  test/component.test.ts
  tsconfig.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

fix(vitesse): fix unplugin-vue-router usage
  src/main.ts
  tsconfig.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format

test(vitesse): update snapshot
  test/__snapshots__/component.test.ts.snap
Due: none

docs(hanzi): 补充 Hanzi 说明,添加部分汉字
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/posts/edu/learn-hanzi.md
  docs/posts/edu/小学/一年级/语文/下册.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

fix: 微调
  docs/.vuepress/public/assets/hanzi/human-voice.svg
  docs/.vuepress/theme/components/hanzi/hanzi.css
Due: none

feat(hanzi): 增加朗读相关信息功能
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/posts/edu/learn-hanzi.md
  docs/posts/edu/小学/一年级/语文/下册.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(hanzi): 调整朗读内容
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/posts/edu/小学/一年级/语文/下册.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs(语文): 补充汉字
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/posts/edu/小学/一年级/语文/下册.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(hanzi): 添加查字功能
  .markdownlint.json
  docs/.vuepress/client.ts
  docs/.vuepress/theme/components/hanzi/Chazi.vue
  docs/posts/edu/chazi.md
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark
