Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

ci: 调整docs发布策略，docs文件夹下有改动时才发布
  .github/workflows/docs.yml
Due: none

feat(seo): 设置部分SEO信息
  docs/README.md
  docs/about.md
  docs/en/README.md
  docs/en/about.md
  docs/en/posts/docker/command.md
  docs/en/posts/router/router-settings.md
  docs/en/projects.md
  docs/notes/README.md
  docs/posts/docker/command.md
  docs/posts/router/router-settings.md
  docs/projects.md
Due: pnpm lint:md, pnpm lint:remark

ci(algolia): 修改algolia action错误
  .github/workflows/algolia.yml
Due: none

feat(navbar): 导航菜单增加分类菜单
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
Due: pnpm lint:js, pnpm lint:format

style: 格式化部分文档
  docs/algolia-config-hope.json
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter02.md
Due: pnpm lint:md, pnpm lint:remark

feat(icon): 加入zhaobc选择的部分图标
  docs/.vuepress/config.ts
  docs/.vuepress/theme/index.ts
  docs/en/notes/backend/README.md
  docs/en/notes/backend/spring/README.md
  docs/en/posts/docker/command.md
  docs/en/posts/router/router-settings.md
  docs/en/projects.md
  docs/notes/backend/README.md
  docs/notes/backend/spring/README.md
  docs/posts/docker/command.md
  docs/posts/router/router-settings.md
  docs/projects.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

refactor(algolia): 调整algolia配置
  docs/algolia-config-hope.json
Due: none

chore(algolia): 再次调整algolia配置
  .github/workflows/algolia.yml
  docs/algolia-config-hope.json
Due: none

docs(code-demo): 更改原来的代码演示写法，适配hope代码演示
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter01.md
Due: pnpm lint:md, pnpm lint:remark

feat(algolia): 改用Algolia Crawler方式
  docs/.vuepress/plugin-config/docsearch.ts
Due: pnpm lint:js, pnpm lint:format

feat(theme): 继承主题,覆盖组件以替换置顶图标
  .vscode/settings.json
  docs/.vuepress/config.ts
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/blog/components/ArticleItem.ts
  docs/.vuepress/theme/module/blog/components/icons/StickyIcon.ts
  docs/.vuepress/theme/module/blog/components/icons/index.ts
  docs/notes/frontend/vue/vue3-book/chapter01.md
  public/icons/pin-fill.svg
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style: 格式化代码
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter01.md
Due: pnpm lint:md, pnpm lint:remark

refactor: 规整链接和列表概要
  docs/en/notes/README.md
  docs/en/notes/frontend/README.md
  docs/en/notes/frontend/js/bosn/README.md
  docs/en/posts/docker/command.md
  docs/en/posts/router/router-settings.md
  docs/notes/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/posts/docker/command.md
  docs/posts/router/router-settings.md
Due: pnpm lint:md, pnpm lint:remark

feat(sidebar): 尝试定制sidebarText未果
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/sidebar/components/SidebarChild.ts
  docs/notes/backend/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

revert(sidebar): 回退前一个修改,抛弃替换SidebarChild来定制sidebarText的方案
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/sidebar/components/SidebarChild.ts
Due: pnpm lint:js, pnpm lint:format

style: 代码格式化
  docs/.vuepress/config.ts
  docs/en/links.md
  docs/en/posts/docker/command.md
  docs/links.md
  docs/posts/docker/command.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(vue3-book): 完结 第一章
  docs/notes/frontend/vue/vue3-book/chapter01.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 增加2.1 - 2.4 章节
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter02.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 完结 第二章
  docs/notes/frontend/vue/vue3-book/chapter02.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 增加 3.1 - 3.2
  .vscode/settings.json
  docs/.vuepress/plugin-config/docsearch.ts
  docs/.vuepress/theme/module/blog/components/icons/StickyIcon.ts
  docs/notes/frontend/vue/vue3-book/chapter03.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style: 格式化代码
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter02.md
Due: pnpm lint:md, pnpm lint:remark

feat(sidebar): 增加自定义sidebarText的功能
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/node/sidebar.ts
Due: pnpm lint:js, pnpm lint:format

refactor(sidebar): 重构sidebar text处理
  docs/.vuepress/theme/node/sidebar.ts
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: none

refactor(theme): 注释掉自定义的部分主题功能（已PR）
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme/index.ts
Due: pnpm lint:js, pnpm lint:format

docs(docs): 改善各目录下的README.md的描述
  docs/notes/README.md
  docs/notes/backend/README.md
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/other/README.md
Due: pnpm lint:md, pnpm lint:remark

docs: 新增一篇vercel取消发布的文章
  docs/notes/frontend/vue/vue3-book/README.md
  docs/posts/vercel/skip-ci-for-vercel.md
Due: pnpm lint:md, pnpm lint:remark

docs: 新加 algolia search github action
  docs/posts/devops/run-algolia-docsearch-from-code.md
  docs/posts/devops/skip-ci-for-vercel.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 补充3.3 - 3.4
  docs/notes/frontend/vue/vue3-book/chapter03.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 增加 4.1 - 4.2
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3-book/chapter03.md
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 增加 4.3
  .vscode/settings.json
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

feat(md-enhance): markdown增加echarts插件
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/echarts.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/echarts.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/ECharts.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/echarts.scss
  docs/.vuepress/theme/module/md-enhance/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/echarts.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/shims-echarts.d.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/.vuepress/theme/module/md-enhance/shared/index.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/.vuepress/theme/shared/noopModule.ts
  docs/notes/other/README.md
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style: 格式化md
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/vue/vue3-book/chapter03.md
  docs/posts/devops/run-algolia-docsearch-from-code.md
  docs/posts/devops/skip-ci-for-vercel.md
Due: pnpm lint:md, pnpm lint:remark

refactor(echarts): 使用vueuse重构echarts的resize处理
  docs/.vuepress/theme/module/md-enhance/client/components/ECharts.ts
Due: pnpm lint:js, pnpm lint:format

style: 格式化md
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 添加 4.4
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

refactor(sidebar): 调整笔记sidebar目录顺序
  docs/.vuepress/theme/node/sidebar.ts
  docs/en/notes/backend/README.md
  docs/en/notes/frontend/README.md
  docs/en/notes/other/README.md
  docs/notes/backend/README.md
  docs/notes/frontend/README.md
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(vue3-book): 增加 4.5
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3-book): 添加 4.6
  docs/notes/frontend/vue/vue3-book/chapter04.md
Due: pnpm lint:md, pnpm lint:remark

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
