Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:format"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:format"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:format"],
  "*.md": ["pnpm lint:md", "pnpm lint:remark"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore(hanzi): 微调
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(hanzi): 增加字帖小组件
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Zitie.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(hanzi): 象征性地加点注释
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/Zitie.vue
  docs/.vuepress/theme/components/hanzi/hanzi.css
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): 调整小学语文目录结构
  docs/posts/edu/xiaoxue-yuwen-1-xia.md
Due: pnpm lint:md, pnpm lint:remark

fix(comment2): 修改评论组件宽度
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

fix(comment): 修改手机端评论框宽度
  docs/.vuepress/styles/zhaobc.scss
Due: none

feat(chazi): 添加 Enter 响应
  docs/.vuepress/theme/components/hanzi/Chazi.vue
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

feat(theme): add flippy-card
  .markdownlint.json
  docs/.vuepress/client.ts
  docs/.vuepress/theme/components/flippy-card/components/card-list.vue
  docs/.vuepress/theme/components/flippy-card/components/card.vue
  docs/.vuepress/theme/components/flippy-card/composables/events.ts
  docs/.vuepress/theme/components/flippy-card/composables/index.ts
  docs/.vuepress/theme/components/flippy-card/images/flip.svg
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
  docs/notes/other/demo/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(flippy-card): add flipped props
  docs/.vuepress/theme/components/flippy-card/components/card-list.vue
  docs/.vuepress/theme/components/flippy-card/components/card.vue
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

fix(flippy-card): opacity
  docs/.vuepress/theme/components/flippy-card/components/card.vue
  docs/.vuepress/theme/components/flippy-card/composables/events.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

feat(theme): (WIP) add flippy card
  .markdownlint.json
  docs/.vuepress/client.ts
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/HanziCard.vue
  docs/.vuepress/theme/components/hanzi/Pinyin.vue
  docs/.vuepress/theme/components/hanzi/Pinyinge.vue
  docs/.vuepress/theme/components/hanzi/constants.js
  docs/.vuepress/theme/components/hanzi/hanzi-card.scss
  docs/.vuepress/theme/components/hanzi/hanzi2.css
  docs/.vuepress/theme/components/hanzi/images/human-voice.svg
  docs/.vuepress/theme/components/hanzi/images/pinyin.svg
  docs/.vuepress/theme/components/hanzi/images/pinyinge.svg
  docs/.vuepress/theme/components/hanzi/images/play.svg
  docs/.vuepress/theme/components/hanzi/images/voice.svg
  docs/.vuepress/theme/components/hanzi/images/write.svg
  docs/notes/other/demo/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(theme): add flippy-card
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/HanziCard.vue
  docs/.vuepress/theme/components/hanzi/hanzi-card.scss
  docs/.vuepress/theme/components/hanzi/hanzi2.css
  docs/.vuepress/theme/components/hanzi/hanzi2.scss
  docs/notes/other/demo/README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(theme): add togglePinyin
  docs/.vuepress/theme/components/flippy-card/components/card-list.vue
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/components/hanzi/HanziCard.vue
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/.vuepress/theme/components/hanzi/images/a.svg
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

docs(posts): 增加汉字卡片文章
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/posts/edu/xiaoxue-yuwen-1-xia-hanzi-kapian.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(deps): update deps
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore: Update package.json
  package.json
Due: none

ci: support workflow_dispatch
  .github/workflows/docs.yml
Due: none

feat(theme): 汉字卡增加成语朗读
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

chore: 微调
  docs/.vuepress/styles/zhaobc.scss
  docs/posts/edu/chazi.md
  docs/posts/theme/gitlab-contributors-plugin.md
Due: pnpm lint:md, pnpm lint:remark

docs(theme): 分离博客文章
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/.vuepress/theme.ts
  docs/en/posts/README.md
  docs/posts/README.md
  docs/posts/docker/deploy-waline.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

ci: 升级 actions 版本
  .github/workflows/docs.yml
  .github/workflows/vitesse-ci.yml
Due: none

ci: 升级 actions 版本
  .github/workflows/docs.yml
Due: none

ci: 修复版本升级问题
  .github/workflows/docs.yml
Due: none

chore(deps): 升级 vth
  package.json
  pnpm-lock.yaml
Due: none

chore(theme): 微调汉字卡片
  docs/.vuepress/theme/components/hanzi/hanzi-card.scss
Due: none

ci: checkout fetch-depth: 0
  .github/workflows/docs.yml
Due: none

docs: 增加文章排序问题解决方案
  docs/posts/devops/vuepress-blog-articels-sort.md
Due: pnpm lint:md, pnpm lint:remark

docs: 修复误记
  docs/posts/devops/vuepress-articels-sort.md
Due: pnpm lint:md, pnpm lint:remark

feat(theme): 增加汉字卡片打印样式
  docs/.vuepress/styles/zhaobc.scss
  docs/.vuepress/theme/components/flippy-card/styles/card.scss
  docs/.vuepress/theme/components/hanzi/hanzi-card.scss
  docs/.vuepress/theme/components/hanzi/hanzi2.scss
Due: none

feat(theme): hanzi 组件增加成语属性
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs: 误记
  docs/posts/edu/learn-hanzi.md
Due: pnpm lint:md, pnpm lint:remark

chore(theme): 汉字相关微调
  .markdownlint.json
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  docs/.vuepress/theme/components/hanzi/hanzi.css
  docs/posts/edu/chazi.md
  docs/posts/edu/xiaoxue-yuwen-1-xia-hanzi-kapian.md
  docs/posts/edu/xiaoxue-yuwen-1-xia.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore(theme): 小学一年级识字页增加未完公告
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

chore(comment): 改用waline评论
  docs/.vuepress/plugin-config/giscus.ts
  docs/.vuepress/plugin-config/index.ts
  docs/.vuepress/plugin-config/waline.ts
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

chore(theme): 开启阅读时间
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

chore(deps): 升级 vth 及依赖
  docs/.vuepress/theme/components/hanzi/Hanzi.vue
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

docs: 添加 DBUnit Mockito 的部分代码片段
  docs/notes/backend/java/code-snippets/dbunit.md
  docs/notes/backend/java/code-snippets/mockito.md
Due: pnpm lint:md, pnpm lint:remark

docs: 各 README 启用 Catalog
  docs/notes/backend/java/README.md
  docs/notes/frontend/js/code-snippets/reduce.md
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/reusability/README.md
Due: pnpm lint:md, pnpm lint:remark
