Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:format"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:format"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:format"],
  "*.md": ["pnpm lint:md", "pnpm lint:remark"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

ci: revert ci
  .github/workflows/algolia.yml
  .github/workflows/docs.yml
  .github/workflows/vitesse-ci.yml
Due: none

docs: 替换vue-playground地址,删除无用的siderbarText
  docs/notes/backend/README.md
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/js/bosn/README.md
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/pinia/README.md
  docs/notes/frontend/vue/pinia/core-concepts/README.md
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/reusability/README.md
  docs/notes/other/README.md
Due: pnpm lint:md, pnpm lint:remark

chore(theme): 删除无用的theme目录
  docs/.vuepress/config.ts
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/echarts.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/echarts.spec.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/ECharts.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/ExternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/InternalPlayground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/playground/playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/echarts.scss
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/assign.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/index.ts
  docs/.vuepress/theme/module/md-enhance/client/utils/playground/utils.ts
  docs/.vuepress/theme/module/md-enhance/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/echarts.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.1.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.2.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/shims-echarts.d.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/.vuepress/theme/module/md-enhance/shared/index.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/shared/playground.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/.vuepress/theme/shared/noopModule.ts
  docs/.vuepress/theme/shared/utils/index.ts
Due: pnpm lint:js, pnpm lint:format

ci: 使用nodejs v18
  .github/workflows/docs.yml
  package.json
Due: none

feat(footer): 添加主题声明
  docs/.vuepress/plugin-config/pwa.ts
  docs/.vuepress/themeConfig.ts
Due: pnpm lint:js, pnpm lint:format

ci: 去除无用的加密功能
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

refactor(footer): 调整footer样式
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  docs/en/links.md
  docs/links.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(deps): update deps
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:md, pnpm lint:remark

docs: 恢复锚点链接,禁用 MD051
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter01.md
Due: pnpm lint:md, pnpm lint:remark

docs: sfc playground 改用 https
  docs/about.md
  docs/en/about.md
  docs/notes/frontend/vue/pinia/core-concepts/define-store.md
  docs/notes/frontend/vue/pinia/core-concepts/state.md
  docs/notes/frontend/vue/pinia/intro/README.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  .github/workflows/docs.yml
  package.json
  pnpm-lock.yaml
Due: none

refactor(docs): 使用 AutoCatalog 重构目录页
  .markdownlint.json
  docs/notes/backend/README.md
  docs/notes/backend/java/README.md
  docs/notes/backend/spring/README.md
  docs/notes/frontend/README.md
  docs/notes/frontend/js/README.md
  docs/notes/frontend/ts/README.md
  docs/notes/frontend/vue/README.md
  docs/notes/other/README.md
  docs/notes/other/demo/README.md
  docs/notes/other/linux/README.md
Due: pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): 升级 vth 和 依赖
  .markdownlint.json
  docs/.vuepress/config.ts
  docs/notes/other/demo/README.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(theme): 修改组件插件配置
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

refactor(docs): 修改链接页面的样式
  docs/.vuepress/public/assets/image/preview/oktools.jpg
  docs/.vuepress/public/assets/image/preview/photopea.jpg
  docs/.vuepress/public/assets/image/preview/regexper.jpg
  docs/.vuepress/public/assets/image/preview/squoosh.jpg
  docs/.vuepress/public/assets/image/preview/theme-hope.jpg
  docs/.vuepress/styles/zhaobc.scss
  docs/en/links.md
  docs/links.md
Due: pnpm lint:md, pnpm lint:remark

docs(links): 添加链接
  docs/.vuepress/public/assets/blank-page.psd
  docs/.vuepress/public/assets/blank-page2.psd
  docs/.vuepress/public/assets/image/preview/67tool.jpg
  docs/.vuepress/public/assets/image/preview/no-preview.jpg
  docs/.vuepress/public/assets/image/preview/regexr.jpg
  docs/.vuepress/public/assets/no-preview2.psd
  docs/.vuepress/public/memo.txt
  docs/en/links.md
  docs/links.md
Due: pnpm lint:md, pnpm lint:remark

docs: add python demo
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/notes/backend/java/README.md
  docs/notes/backend/python/README.md
  docs/notes/backend/python/python-100-days/README.md
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/spring/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

ci: remove typecheck
  .github/workflows/vitesse-ci.yml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:format

style: 修改 markdownlint 忽略设置
  docs/en/notes/frontend/js/bosn/chapter01.md
  docs/notes/frontend/js/bosn/chapter01.md
Due: pnpm lint:md, pnpm lint:remark

docs: 微调
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/README.md
  docs/notes/frontend/js/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(python): 添加 python 笔记
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): python day-02
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): add python day 03
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/other/demo/README.md
Due: pnpm lint:md, pnpm lint:remark

docs: 微调
  docs/.vuepress/plugin-config/seo.ts
  docs/notes/backend/java/README.md
  docs/notes/backend/python/README.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/backend/spring/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

style: 格式化
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/other/demo/README.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 微调 - KeTex
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): add python day 04
  docs/notes/backend/python/python-100-days/day-01-15/04.循环结构.md
Due: pnpm lint:md, pnpm lint:remark

perf(pwa): pwa.cacheHtml false
  docs/.vuepress/plugin-config/pwa.ts
Due: pnpm lint:js, pnpm lint:format

chore: 去除笔记中多余的icon
  docs/notes/backend/python/python-100-days/README.md
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/backend/python/python-100-days/day-01-15/04.循环结构.md
  docs/notes/backend/python/python-100-days/day-01-15/README.md
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3-book/chapter01.md
  docs/notes/frontend/vue/vue3-book/chapter02.md
  docs/notes/frontend/vue/vue3-book/chapter03.md
  docs/notes/frontend/vue/vue3-book/chapter04.md
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
  docs/notes/frontend/vue/vue3/built-ins/suspense.md
  docs/notes/frontend/vue/vue3/built-ins/teleport.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/extra/README.md
  docs/notes/frontend/vue/vue3/extra/animation.md
  docs/notes/frontend/vue/vue3/extra/composition-api.md
  docs/notes/frontend/vue/vue3/extra/reactivity-transform.md
  docs/notes/frontend/vue/vue3/extra/render-and-jsx.md
  docs/notes/frontend/vue/vue3/reusability/README.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/frontend/vue/vue3/reusability/plugins.md
Due: pnpm lint:md, pnpm lint:remark

chore(theme): 调整 sidebar 和 navbar
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/.vuepress/plugin-config/pwa.ts
  docs/.vuepress/sidebar/en.ts
  docs/.vuepress/sidebar/zh.ts
Due: pnpm lint:js, pnpm lint:format

perf(pwa): 不缓存 html 减少页面加载时间
  docs/.vuepress/plugin-config/pwa.ts
Due: pnpm lint:js, pnpm lint:format

chore(theme): 微调布局
  docs/.vuepress/styles/palette.scss
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

fix(blog): 修改 blog 配置
  docs/.vuepress/theme.ts
Due: pnpm lint:js, pnpm lint:format

ci(vercel): 调整 vercel 缓存策略
  vercel.json
Due: none

chore(deps): 升级 vth 和 其他依赖
  package.json
  pnpm-lock.yaml
Due: none

docs(notes): 笔记页中添加 python 链接
  docs/notes/README.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 添加 Python 官方教程笔记
  docs/notes/README.md
  docs/notes/backend/python/tutorial/3.introduction.md
  docs/notes/backend/python/tutorial/README.md
Due: pnpm lint:md, pnpm lint:remark
