Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs(posts): 增加升级 omv 文章
  docs/posts/n1/upgrade-omv.md
Due: pnpm lint:md, pnpm lint:remark

docs: 增加 playground 测试md内容
  docs/notes/other/README.md
Due: pnpm lint:md, pnpm lint:remark

feat(md-plugin): 临时存一下
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/file-demo/README.md
  docs/.vuepress/theme/module/md-enhance/client/components/file-demo/example.vue
  docs/.vuepress/theme/module/md-enhance/client/components/file-demo/file-demo.vue
  docs/.vuepress/theme/module/md-enhance/client/components/file-demo/locales.json
  docs/.vuepress/theme/module/md-enhance/client/components/file-demo/source-code.vue
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.vue
  docs/.vuepress/theme/module/md-enhance/client/composables/source-code.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/.vuepress/theme/shared/utils/index.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

style(docs): 格式化
  docs/notes/frontend/vue/vue3-book/chapter04.md
  docs/posts/n1/upgrade-omv.md
Due: pnpm lint:md, pnpm lint:remark

feat(playground): 中间保存，改变playground写法
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/code-group.scss
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: pnpm lint:js, pnpm lint:format

feat(playground): 改变方式 暂存
  docs/.vuepress/theme/module/md-enhance/client/components/playground copy/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground copy/Playground.vue
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground copy.ts
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

feat(playground): 初步效果
  docs/.vuepress/config.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground2.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground copy.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(playgroud): 调整playground样式
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: none

refactor(playground): 完善 playground
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: pnpm lint:js, pnpm lint:format

refactor(playground): 添加切换代码显示
  docs/.vuepress/config.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
Due: pnpm lint:js, pnpm lint:format

refactor(playground): 更改按钮hover样式
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: none

feat(playground): playground支持配置化
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground2.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground copy.scss
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
Due: pnpm lint:js, pnpm lint:format

feat(md-enhance): 增加 Playground 插件
  docs/.vuepress/config.ts
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/client/components/icons.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/index.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/.vuepress/theme/module/md-enhance/shared/options.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/.vuepress/theme/shared/utils/index.ts
  docs/notes/frontend/vue/vue3-book/chapter04.md
  docs/notes/other/README.md
  docs/posts/n1/upgrade-omv.md
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat(playground): playground支持个别配置
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(playground): 修复移动端的code-group样式
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: none

feat(playground): 改用自己的playground
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground.ts
  docs/notes/other/README.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

fix(playground): 修改移动端code-group显示问题
  docs/.vuepress/theme/customConfig.ts
  docs/.vuepress/theme/module/md-enhance/client/composables/use-playground.ts
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
Due: pnpm lint:js, pnpm lint:format

docs(posts): 增加ECharts插件, Playground插件说明
  docs/posts/theme/customize-theme.md
  docs/posts/theme/echarts-plugin.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

docs(playground): 增加 playground 的 markdown 代码
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

docs(projects): 添加2个项目
  docs/en/projects.md
  docs/projects.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 增加vue3可重用性的部分文档
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/reusability/composables.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 调整目录结构
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/reusability/README.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 完成可重用性章节
  docs/notes/frontend/vue/vue3/reusability/composables.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 自定义指令 wip
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/notes/frontend/vue/vue3/reusability/README.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
Due: pnpm lint:md, pnpm lint:remark

style: 格式化
  docs/notes/frontend/vue/vue3/reusability/composables.md
  docs/posts/theme/echarts-plugin.md
  docs/posts/theme/playground-plugin.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 完成 自定义指令
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/notes/frontend/vue/vue3/reusability/README.md
  docs/notes/frontend/vue/vue3/reusability/custom-directives.md
  docs/notes/frontend/vue/vue3/reusability/plugins.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 添加 插件介绍
  docs/.vuepress/theme/module/md-enhance/client/styles/playground.scss
  docs/notes/frontend/vue/README.md
  docs/notes/frontend/vue/vue3/reusability/plugins.md
Due: pnpm lint:md, pnpm lint:remark

refactor(deps): 升级依赖,根据破坏性改动修改了代码
  .vscode/settings.json
  docs/.vuepress/config.ts
  docs/.vuepress/navbar/en.ts
  docs/.vuepress/navbar/zh.ts
  docs/.vuepress/plugin-config/docsearch.ts
  docs/.vuepress/sidebar/en.ts
  docs/.vuepress/sidebar/zh.ts
  docs/.vuepress/theme/index.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/.vuepress/theme/module/md-enhance/usePlugins.ts
  docs/.vuepress/themeConfig.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format

fix(playground): 修复 playground 插件 link 错乱问题
  docs/.vuepress/theme/module/md-enhance/client/components/playground/Playground.ts
Due: pnpm lint:js, pnpm lint:format

fix(build): 修复打包错误, noopModule import问题
  docs/.vuepress/theme/module/md-enhance/client/appEnhance.ts
  docs/.vuepress/theme/module/md-enhance/plugins.ts
  docs/posts/theme/echarts-plugin.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(typo): 拼写错误
  docs/posts/theme/customize-theme.md
  docs/posts/theme/echarts-plugin.md
  docs/posts/theme/playground-plugin.md
  pnpm-lock.yaml
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 暂存Transition
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/frontend/vue/vue3/reusability/README.md
Due: pnpm lint:md, pnpm lint:remark

refactor(playground): 重构imports map的处理
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/__snapshots__/playground.spec.ts.snap
  docs/.vuepress/theme/module/md-enhance/__tests__/unit/playground.spec.ts
  docs/.vuepress/theme/module/md-enhance/node/markdown-it/playground_v1.ts
  docs/notes/frontend/vue/vue3/built-ins/transition.md
  docs/notes/other/README.md
  docs/posts/theme/playground-plugin.md
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(deps): 升级依赖
  pnpm-lock.yaml
Due: none

ci(pnpm): 添加--no-frozen-lockfile
  .github/workflows/docs.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

build(pnpm): 添加peerDependencyRules
  package.json
Due: none

docs(vue3): 完成Transition
  docs/notes/frontend/vue/vue3/built-ins/transition.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 增加 TransitionGroup 内容
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/transition-group.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 增加 KeepAlive 内容
  docs/notes/frontend/vue/vue3-book/README.md
  docs/notes/frontend/vue/vue3/README.md
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/keep-alive.md
Due: pnpm lint:md, pnpm lint:remark

docs(vue3): 增加 Teleport 和 Suspense
  docs/notes/frontend/vue/vue3/built-ins/README.md
  docs/notes/frontend/vue/vue3/built-ins/suspense.md
  docs/notes/frontend/vue/vue3/built-ins/teleport.md
Due: pnpm lint:md, pnpm lint:remark

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
