Repository FuckDoctors/notes2: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

chore: 微调
  docs/.vuepress/theme/components/icons/PlaygroundIcon.ts
  docs/notes/frontend/ts/handbook/more_on_function.md
  docs/posts/dev/hello-deepseek.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(theme): 升级主题和依赖
  docs/.vuepress/config.ts
  docs/.vuepress/styles/config.scss
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/README.md
  docs/en/README.md
  docs/en/slides/demo.md
  docs/slides/demo.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

ci(node): 更改CI的Nodejs版本
  .github/workflows/docs.yml
  package.json
Due: none

feat(theme): 升级rc.89, 增加llms插件
  docs/.vuepress/config.ts
  package.json
  pnpm-lock.yaml
  vercel.json
Due: pnpm lint:js, pnpm lint:format

feat(theme): 增加 python repl 半成品
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/utils/binary/index.ts
  docs/.vuepress/theme/utils/index.ts
  docs/notes/backend/python/tutorial/3.introduction.md
  docs/notes/backend/python/tutorial/4.controlflow.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore(theme): 升级依赖 rc.93
  package.json
  pnpm-lock.yaml
Due: none

docs(posts): 新增一篇 python playground 文章
  docs/.vuepress/theme.ts
  docs/posts/dev/python-playground.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(posts): 修改 python playground 文章内容
  docs/.vuepress/config.ts
  docs/.vuepress/theme.ts
  docs/posts/dev/python-playground.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs(python-playground): 补充多文件示例
  docs/posts/dev/python-playground.md
Due: pnpm lint:md, pnpm lint:remark

fix(theme): 修改主题升级导致的 CSS 代码变动
  docs/.vuepress/styles/column-layout.scss
  docs/posts/theme/column-layout.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 将 python 代码改用 python playground 呈现
  docs/notes/backend/python/python-100-days/day-01-15/04.循环结构.md
  docs/notes/backend/python/tutorial/3.introduction.md
  docs/notes/backend/python/tutorial/4.controlflow.md
Due: pnpm lint:md, pnpm lint:remark

fix(theme): 修复主题升级导致 NormalPage 失效的问题
  docs/.vuepress/client.ts
  docs/.vuepress/theme/components/NormalPage.vue
  docs/.vuepress/theme/index.ts
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css

chore(deps): 升级依赖
  .eslintignore
  .markdownlint.json
  .stylelintrc.cjs
  docs/.vuepress/theme/components/AutoArticleList.ts
  docs/.vuepress/theme/components/hanzi/Hanzi2.vue
  docs/.vuepress/theme/layouts/AutoArticleListLayout.ts
  docs/en/posts/router/router-settings.md
  docs/en/slides/demo.md
  docs/notes/frontend/vue/README.md
  docs/posts/dev/remove-git-commit-history.md
  docs/posts/router/router-settings.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:css, pnpm lint:md, pnpm lint:remark

docs(python): 修改 python 示例说明，并添加 python 示例
  docs/notes/backend/python/tutorial/4.controlflow.md
  docs/notes/backend/python/tutorial/README.md
  docs/posts/dev/python-playground.md
Due: pnpm lint:md, pnpm lint:remark

feat(theme): 新增 PythonPlaground 组件，方便自定义 iframe 属性
  docs/.vuepress/client.ts
  docs/.vuepress/theme.ts
  docs/.vuepress/theme/components/python/PythonPlayground.ts
  docs/.vuepress/theme/components/python/icons.ts
Due: pnpm lint:js, pnpm lint:format

ci: 调整 headers
  docs/.vuepress/config.ts
  vercel.json
Due: pnpm lint:js, pnpm lint:format

ci(github-actions): 解决 github pages 部署问题,忽略 jekyll 解析
  .github/workflows/docs.yml
Due: none

fix(theme): 设置 headers 后，外部资源添加 crossorigin
  docs/.vuepress/config.ts
  docs/.vuepress/styles/zhaobc.scss
  docs/posts/dev/python-playground.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs: 修复部分文档错误和细节
  docs/.vuepress/config.ts
  docs/.vuepress/public/assets/image/hope-logo.svg
  docs/.vuepress/public/assets/js/clarity.js
  docs/README.md
  docs/en/README.md
  docs/en/links.md
  docs/en/notes/README.md
  docs/en/projects.md
  docs/links.md
  docs/notes/README.md
  docs/posts/dev/python-playground.md
  docs/projects.md
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

ci(vercel): 调整 CORP
  vercel.json
Due: none

ci(vercel): 调整 COEP
  docs/.vuepress/config.ts
  docs/posts/dev/python-playground.md
  vercel.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

chore: 微调
  docs/.vuepress/config.ts
  docs/about.md
  docs/en/about.md
  vercel.json
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

docs: 添加 coep coop corp 文章
  docs/posts/dev/coep-coop-corp-corp-cors.md
  docs/posts/dev/python-playground.md
Due: pnpm lint:md, pnpm lint:remark

chore: 限定内容设置 COEP
  docs/.vuepress/config.ts
  vercel.json
Due: pnpm lint:js, pnpm lint:format

chore(vercel): 修改 vercel source 路径
  docs/posts/dev/coep-coop-corp-corp-cors.md
  vercel.json
Due: pnpm lint:md, pnpm lint:remark

chore(vercel): 还原 vercel source 路径
  docs/notes/backend/python/tutorial/4.controlflow.md
  vercel.json
Due: pnpm lint:md, pnpm lint:remark

chore: 增加 git submodule 用于关联私有仓库
  .github/workflows/docs.yml
  .gitmodules
  docs/.vuepress/theme.ts
  docs/posts/dev/git-submodule.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:format, pnpm lint:md, pnpm lint:remark

feat: 增加 vercel 发布私有子模块的说明
  docs/posts/dev/git-submodule.md
  submodules-for-vercel.sh
Due: pnpm lint:md, pnpm lint:remark

chore(llms): 调整 llms 生成策略
  docs/.vuepress/config.ts
Due: pnpm lint:js, pnpm lint:format

chore(llms): 调整 llmstxt 生成策略
  docs/.vuepress/config.ts
Due: pnpm lint:js, pnpm lint:format

docs(posts): 增加内网部署 umami 文章
  docs/posts/dev/umami-docker.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 增加 python 数据结构
  .gitignore
  docs/notes/backend/python/tutorial/5.datastructures.md
  package.json
Due: pnpm lint:md, pnpm lint:remark

docs(python): 增加 python 相关文章
  docs/notes/backend/python/python-100-days/day-01-15/01.初识Python.md
  docs/notes/backend/python/python-100-days/day-01-15/02.语言元素.md
  docs/notes/backend/python/python-100-days/day-01-15/03.分支结构.md
  docs/notes/backend/python/python-100-days/day-01-15/04.循环结构.md
  docs/notes/backend/python/tutorial/6.modules.md
  docs/notes/backend/python/tutorial/7.input-output.md
  docs/notes/other/demo/README.md
  docs/posts/dev/umami-docker.md
Due: pnpm lint:md, pnpm lint:remark

chore: 微调 config.ts
  docs/.vuepress/config.ts
Due: pnpm lint:js, pnpm lint:format

docs: 补充 python playground 说明
  docs/notes/other/demo/README.md
  docs/posts/dev/python-playground.md
Due: pnpm lint:md, pnpm lint:remark

docs(python): 增加 错误和异常 文章
  docs/notes/backend/python/tutorial/8.errors.md
Due: pnpm lint:md, pnpm lint:remark

chore: 增加 indexnow
  docs/.vuepress/public/759e9589fe764e1ba8896d79973085c5.txt
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:format: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  pnpm lint:remark: any of: *.md
